<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app | Rohan Basnet</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/img/logo.png">
</head>

<body>
    <div id="main">
        <div id="container">
            <div id="form"> <!--Creating From Section-->
                <form action="/search" method="post">
                    <div class="search">
                        <input type="text" name="Weather" id="getWeather" placeholder="Search" required>
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>

            <% if(weather){ %>
                <div id="output">
                    <div class="location">
                        <div class="location-name">
                            <h1>
                                <%= weather.name %>, <span>
                                        <%= weather.country %>
                                    </span>
                            </h1>
                        </div>
                        <div class="location-temp">
                            <h2><span>
                                    <% if(weather.weatherType==='Clouds' ){ %>
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- (c) ammap.com | SVG weather icons -->
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64"
                                            viewbox="0 0 64 64">
                                            <defs>
                                                <filter id="blur" width="200%" height="200%">
                                                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                                    <feOffset dx="0" dy="4" result="offsetblur" />
                                                    <feComponentTransfer>
                                                        <feFuncA type="linear" slope="0.05" />
                                                    </feComponentTransfer>
                                                    <feMerge>
                                                        <feMergeNode />
                                                        <feMergeNode in="SourceGraphic" />
                                                    </feMerge>
                                                </filter>
                                            </defs>
                                            <g filter="url(#blur)" id="cloudy-day-1">
                                                <g transform="translate(20,10)">
                                                    <g transform="translate(0,16)">
                                                        <g class="am-weather-sun">
                                                            <g>
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(45)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(90)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(135)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(180)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(225)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(270)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(315)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                        </g>
                                                        <circle cx="0" cy="0" fill="orange" r="5" stroke="orange"
                                                            stroke-width="2" />
                                                    </g>
                                                    <g class="am-weather-cloud-2">
                                                        <path
                                                            d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3    c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
                                                            fill="#C6DEFF" stroke="white" stroke-linejoin="round"
                                                            stroke-width="1.2" transform="translate(-20,-11)" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <% } else if(weather.weatherType==='Smoke' ){ %>
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <!-- (c) ammap.com | SVG weather icons -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64"
                                                viewbox="0 0 64 64">
                                                <defs>
                                                    <filter id="blur" width="200%" height="200%">
                                                        <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                                        <feOffset dx="0" dy="4" result="offsetblur" />
                                                        <feComponentTransfer>
                                                            <feFuncA type="linear" slope="0.05" />
                                                        </feComponentTransfer>
                                                        <feMerge>
                                                            <feMergeNode />
                                                            <feMergeNode in="SourceGraphic" />
                                                        </feMerge>
                                                    </filter>
                                                </defs>
                                                <g filter="url(#blur)" id="day">
                                                    <g transform="translate(32,32)">
                                                        <g
                                                            class="am-weather-sun am-weather-sun-shiny am-weather-easing-ease-in-out">
                                                            <g>
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(45)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(90)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(135)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(180)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(225)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(270)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(315)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                        </g>
                                                        <circle cx="0" cy="0" fill="orange" r="5" stroke="orange"
                                                            stroke-width="2" />
                                                    </g>
                                                </g>
                                            </svg>
                                            <% } else if(weather.weatherType==='Rainy' ){ %>
                                                <?xml version="1.0" encoding="utf-8"?>
                                                <!-- (c) ammap.com | SVG weather icons -->
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64"
                                                    viewbox="0 0 64 64">
                                                    <defs>
                                                        <filter id="blur" width="200%" height="200%">
                                                            <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                                            <feOffset dx="0" dy="4" result="offsetblur" />
                                                            <feComponentTransfer>
                                                                <feFuncA type="linear" slope="0.05" />
                                                            </feComponentTransfer>
                                                            <feMerge>
                                                                <feMergeNode />
                                                                <feMergeNode in="SourceGraphic" />
                                                            </feMerge>
                                                        </filter>
                                                    </defs>
                                                    <g filter="url(#blur)" id="rainy-1">
                                                        <g transform="translate(20,10)">
                                                            <g transform="translate(0,16), scale(1.2)">
                                                                <g class="am-weather-sun">
                                                                    <g>
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(45)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(90)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(135)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(180)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(225)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(270)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                    <g transform="rotate(315)">
                                                                        <line fill="none" stroke="orange"
                                                                            stroke-linecap="round" stroke-width="2"
                                                                            transform="translate(0,9)" x1="0" x2="0"
                                                                            y1="0" y2="3" />
                                                                    </g>
                                                                </g>
                                                                <circle cx="0" cy="0" fill="orange" r="5"
                                                                    stroke="orange" stroke-width="2" />
                                                            </g>
                                                            <g>
                                                                <path
                                                                    d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3    c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
                                                                    fill="#57A0EE" stroke="#FFFFFF"
                                                                    stroke-linejoin="round" stroke-width="1.5"
                                                                    transform="translate(-15,-5), scale(0.85)" />
                                                            </g>
                                                        </g>
                                                        <g transform="translate(34,46), rotate(10)">
                                                            <line class="am-weather-rain-1" fill="none" stroke="#91C0F8"
                                                                stroke-dasharray="4,7" stroke-linecap="round"
                                                                stroke-width="2" transform="translate(-6,1)" x1="0"
                                                                x2="0" y1="0" y2="8" />
                                                            <line class="am-weather-rain-2" fill="none" stroke="#91C0F8"
                                                                stroke-dasharray="4,7" stroke-linecap="round"
                                                                stroke-width="2" transform="translate(0,-1)" x1="0"
                                                                x2="0" y1="0" y2="8" />
                                                        </g>
                                                    </g>
                                                </svg>
                                                <% } else if(weather.weatherType==='Thunderstorm' ){ %>
                                                    <?xml version="1.0" encoding="utf-8"?>
                                                    <!-- (c) ammap.com | SVG weather icons -->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="64"
                                                        height="64" viewbox="0 0 64 64">
                                                        <defs>
                                                            <filter id="blur" width="200%" height="200%">
                                                                <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                                                <feOffset dx="0" dy="4" result="offsetblur" />
                                                                <feComponentTransfer>
                                                                    <feFuncA type="linear" slope="0.05" />
                                                                </feComponentTransfer>
                                                                <feMerge>
                                                                    <feMergeNode />
                                                                    <feMergeNode in="SourceGraphic" />
                                                                </feMerge>
                                                            </filter>
                                                        </defs>
                                                        <g filter="url(#blur)" id="thunder">
                                                            <g transform="translate(20,10)">
                                                                <g class="am-weather-cloud-1">
                                                                    <path
                                                                        d="M47.7,35.4     c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3     c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
                                                                        fill="#91C0F8" stroke="white"
                                                                        stroke-linejoin="round" stroke-width="1.2"
                                                                        transform="translate(-10,-6), scale(0.6)" />
                                                                </g>
                                                                <g>
                                                                    <path
                                                                        d="M47.7,35.4     c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3     c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
                                                                        fill="#57A0EE" stroke="#FFFFFF"
                                                                        stroke-linejoin="round" stroke-width="1.2"
                                                                        transform="translate(-20,-11)" />
                                                                </g>
                                                                <g transform="translate(-9,28), scale(1.2)">
                                                                    <polygon class="am-weather-stroke" fill="orange"
                                                                        stroke="white" stroke-width="1"
                                                                        points="14.3,-2.9 20.5,-2.9 16.4,4.3 20.3,4.3 11.5,14.6 14.9,6.9 11.1,6.9" />
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    <% } else{ %>
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- (c) ammap.com | SVG weather icons -->
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64"
                                            viewbox="0 0 64 64">
                                            <defs>
                                                <filter id="blur" width="200%" height="200%">
                                                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                                    <feOffset dx="0" dy="4" result="offsetblur" />
                                                    <feComponentTransfer>
                                                        <feFuncA type="linear" slope="0.05" />
                                                    </feComponentTransfer>
                                                    <feMerge>
                                                        <feMergeNode />
                                                        <feMergeNode in="SourceGraphic" />
                                                    </feMerge>
                                                </filter>
                                            </defs>
                                            <g filter="url(#blur)" id="cloudy-day-1">
                                                <g transform="translate(20,10)">
                                                    <g transform="translate(0,16)">
                                                        <g class="am-weather-sun">
                                                            <g>
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(45)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(90)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(135)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(180)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(225)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(270)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                            <g transform="rotate(315)">
                                                                <line fill="none" stroke="orange" stroke-linecap="round"
                                                                    stroke-width="2" transform="translate(0,9)" x1="0"
                                                                    x2="0" y1="0" y2="3" />
                                                            </g>
                                                        </g>
                                                        <circle cx="0" cy="0" fill="orange" r="5" stroke="orange"
                                                            stroke-width="2" />
                                                    </g>
                                                    <g class="am-weather-cloud-2">
                                                        <path
                                                            d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3    c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
                                                            fill="#C6DEFF" stroke="white" stroke-linejoin="round"
                                                            stroke-width="1.2" transform="translate(-20,-11)" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <% } %>

                                </span>
                                <% const celsiusTemperature=((weather.temp - 32) / 1.8).toFixed(2); %>
                                    <%= celsiusTemperature %>°C
                            </h2>
                        </div>
                    </div>
                    <div class="time">
                        <div class="current-time">
                            <% const currentTime=new Date().toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit'
                                , hour12: true }); %>
                                <h4>
                                    <%= currentTime %>
                                </h4>
                        </div>
                        <div class="current-year">
                            <% const currentDay=new Date().toLocaleDateString('en-US', { weekday: 'long' }); %>
                                <% const currentDayOfMonth=new Date().getDate(); %>
                                    <% const currentMonthString=new Date().toLocaleDateString('en-US', { month: 'long'
                                        }); %>
                                        <% const currentYear=new Date().getFullYear(); %>
                                            <h4>
                                                <%= currentDay %>
                                                    <%= currentDayOfMonth %>
                                                        <%= currentMonthString %>
                                                            <%= currentYear %>
                                            </h4>
                        </div>
                    </div>
                </div>
                <% } else if(error){ %>
                    <div id="error">
                        <h1 style="color: red; padding-top: 2rem;">
                            Please try again
                        </h1>
                    </div>
                    <% } %>
        </div>
    </div>
</body>

</html>
